*{
    margin: 0;
    padding: 0;
}
.cabecalho {
    background-color: #d47e0d;
    color: rgb(21, 240, 221);
    display: flex;
   justify-content: space-around;
   padding: 24px 0;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#fd3946,#df7e8e);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo{
    width: 35%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIDylC_t4nV3vhj8UZcVxBXEGmJrLbbmBiGA&usqp=CAU);
}
.escola-titulo{
    padding: 30px 0;
} 
